.Design3{

    font-family: 'Varela Round', sans-serif;
  
    /* position: absolute;
    top: 0rem;
    left: 0rem; */
    width:100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  

    
}
  
.heart-border{
  mask-border: url('../../Image/heart2.png') ;

}
.cloud-border{
  mask-border: url('../../Image/cloud.png');


}

.star-border{

  clip-path: polygon(50% 0%, 71% 29%, 98% 35%, 79% 59%, 79% 91%, 50% 77%, 21% 91%, 23% 59%, 2% 35%, 30% 29%);

}
.circle-border{

  clip-path: circle(50% at 50% 50%);

}
.triangular-border{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}
.hexagon-border{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}
.img-h{
width: 100%;
height: 100%;
/* -webkit-mask-box-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg) ; */
mask-border: url('../../Image/heart2.png') ;
/* clip-path: polygon(61% 31%, 82% 8%, 89% 43%, 74% 76%, 49% 100%, 47% 100%, 21% 73%, 5% 43%, 15% 8%); */
/* clip-path: path(nonzero,'M 10,30 A 20,20 0,0,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z'); */
}
.rnd-resize-up{
  /* background-color: black; */
  border-top: 1px dashed rgb(112, 111, 111) !important;
  width: 5px;
  height: 5px;
}
.rnd-resize-bottom{
  /* background-color: black; */
  border-bottom: 1px dashed rgb(112, 111, 111) !important;
  width: 5px;
  height: 5px;
}
.rnd-resize-left{
  /* background-color: black; */
  border-left: 1px dashed rgb(112, 111, 111) !important;
  width: 5px;
  height: 5px;
}
.rnd-resize-right{
  /* background-color: black; */
  border-right: 1px dashed rgb(112, 111, 111) !important;
  width: 5px;
  height: 5px;
}
.rnd-resize-btn{
  width: 15px !important;
  height: 15px !important;
  border-radius: 100% !important;
background-color: whitesmoke !important;
  /* background-color: violet; */
  border: 2px rgb(112, 111, 111) solid !important;
  /* background-color: transparent; */
}
#back-button{
  font-size: 22px;
  /* background-image: url('../../Image/logoPic.png'); */
  background-color: whitesmoke;
  align-items: center;
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 45px;
  height: 45px;
  /* border-radius: 100px; */
  text-shadow: rgba(11, 10, 10, 0.493) 1px 1px 3px;
}






#container {
  display: inline-block;
  cursor: nwse-resize;
}
.Design-cube{
  /* justify-content: center; */
  width: 100%;
  /* text-align: center; */
  direction: rtl;
  display: flex;
  
}
.resizable-handler{
  content: url('https://api.iconify.design/akar-icons/circle-fill.svg?color=white');
      /* border: 1px solid #cec8c8; */
  background-color: rgb(85, 85, 85);
  padding: 2px;
  border-radius: 10px;

}
.div2 div{
  border-style: none;
  /* background-color: aqua; */
  /* border-color: black; */
}
 div .rect{
  border-style: dashed;
  border: 1.5px gray dashed;
  /* background-color: aqua; */
  /* border-color: black; */

}

.t,.b,.r,.l,.tl{
  /* border: 1px solid #000000; */
 display: none;
}
.rotate svg{
  display: none;
  visibility: hidden;
}
.rotate{
  content: url('https://api.iconify.design/feather/rotate-cw.svg?color=%23555&width=20');    /* border: 1px solid #000000; */
border: none;
border-style: none;
}

#txt-element-delete{
  z-index:'10';
  background-color:'white';
  border:'none';
}


.paint{
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* .TextToolbar{
  background-color:whitesmoke;
  display: flex;
  width: 900px;
  padding-top: 5px;
  padding-right: 8px;
  z-index: 10;
  position: absolute;
  border-top: black 4px solid;
  margin-right: -220px;
  border-bottom-left-radius: 5px;


  

} */


 
.Design h3{
  
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;




}
.textcenter{
  /* position: absolute; */
  font-size: 4em;
  top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}
.Design3 .MuiOutlinedInput-root fieldset{
  border-color: transparent !important;
  /* font-size: 60px !important; */
  width:100%;
  width: fit-content !important;
  padding: 0 !important;


}
.textcenter-input{
  border: none;

  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 


}
[id^="textcenter-input"]{
  width: 100% !important;
  max-width: 100%;
  text-align: center !important;
  font-size: var(--size) !important;
  font-family: var(--family) !important;
}

.textcenter-input:active{
  border: none;
  outline: none;

}

input:focus{
  border: none;
  outline: none;

}
.rnd{
  position: absolute;
  top: 0;
}
.textcenter:focus{
border: hidden;
color: black;
}

p:focus{
  outline: 0;
  /* border: none; */

}


