.menu-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}
.menu-mobiel-wrapper-opening {
    animation: menu-kf2 0.2s ease-in forwards;
}
.menu-mobiel-wrapper-closing {
    animation: menu-kf2 0.2s reverse ease-in forwards;
}
.menu-white {
    background-color: white;
    width: 100%;
    height: 100%;
    cursor: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    overflow-y: scroll;
    overflow: scroll;
    /* padding: 30px 0 15px 0; */
}
.menu-mobiel-white-opening-eng {
    animation: menu-kf1-eng 0.2s ease-in forwards;
}
.menu-mobiel-white-opening-heb {
    animation: menu-kf1-heb 0.2s ease-in forwards;
}
.menu-mobiel-white-closing-eng {
    animation: menu-kf1-eng 0.2s reverse ease-in forwards;
}
.menu-mobiel-white-closing-heb {
    animation: menu-kf1-heb 0.2s reverse ease-in forwards;
}

@keyframes menu-kf1-eng {
    from {transform: translateX(280px);}
    to {transform: translateX(0);}
}
@keyframes menu-kf1-heb {
    from {transform: translateX(-280px);}
    to {transform: translateX(0);}
}
@keyframes menu-kf2 {
    from {opacity: 0}
    to {opacity: 0.5}
}

.menu-logo img {
    width: 100px;
    margin-bottom: 20px;
}
.menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 55px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: black;
    font-family: 'Varela Round', sans-serif;

}
.menu-close{
    position: absolute;
    top: 12px;
    border: none;
    padding: 2px;
    padding-bottom: 5px;
    background-color: transparent;
}


@media only screen and (max-width: 768px) {

.menu-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    cursor: pointer;
    /* flex-direction: column; */
}
.menu-white {
    position: fixed;
    top: 0px;
}

}