.Details{

    padding-top: 30px;
     font-family: 'Varela Round', sans-serif;
     align-items: center;
     text-align: center;
     direction: rtl;
     background-color: rgba(245, 245, 245, 0.856);
     justify-content: center;
     max-width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-bottom: 20px;

     
 }
 .Details h3{
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;

    

}

.cube-colors{
    font-size: 1rem;
    cursor: pointer;
    color:black;
    border: none;
}
.cube-colors:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}
 .cube-red{
     padding: 12px;
     background-color: rgba(234, 75, 75, 0.757);

     /* width: 100%; */
     font-weight: bold;
 }
 .cube-pink{
    padding: 12px;
    background-color: rgba(199, 97, 173, 0.757);
    /* width: 100%; */
    font-weight: bold;
}
.cube-purple{
    padding: 12px ;
    background-color: rgba(155, 99, 188, 0.757);
    /* width: 100%; */
    font-weight: bold;
}
.cube-orange{
    padding: 12px;
    background-color: rgba(232, 178, 103, 0.757);
    /* width: 100%; */
    font-weight: bold;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
}
.cube-green{
    /* padding: 12px ; */
    background-color: rgba(140, 207, 95, 0.757);
    /* width: 100%; */
    font-weight: bold;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;

}
.cube-blue{
    padding: 12px ;
    background-color: rgba(94, 148, 210, 0.757);
    /* width: 100%; */
    font-weight: bold;
}
.cube-purple_d{
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border: 2px  rgba(155, 99, 188, 0.757) solid ;
    /* background-color: rgba(94, 148, 210, 0.757); */
    /* width: 80%; */
    justify-content: center;
    justify-items: center;
    /* margin: 10px; */
    font-weight: bold;
    /* margin-right: 25%; */
    position: relative;
}
.span_purple{
    color:rgba(155, 99, 188, 0.757) ;
    font-weight: bold;
}
.span_purple_title{
    color:rgba(155, 99, 188, 0.757) ;
    font-weight: bold;
    font-size: 16px;
 
}
#shadow-cube{
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.cube-red_d{
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border: 2px   rgba(234, 75, 75, 0.757) solid ;
    /* background-color: rgba(94, 148, 210, 0.757); */
    /* width: 80%; */
    justify-content: center;
    justify-items: center;
    /* margin: 10px; */
    font-weight: bold;
    /* margin-right: 25%; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}
    .span_red{
    color: rgba(234, 75, 75, 0.757) ;
    font-weight: bold;
}
.span_red_title{
    color: rgba(234, 75, 75, 0.757) ;
    font-weight: bold;
    font-size: 16px;
 
}
.cube-pink_d{
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border: 2px  rgba(199, 97, 173, 0.757) solid ;
    /* background-color: rgba(94, 148, 210, 0.757); */
    /* width: 80%; */
    justify-content: center;
    justify-items: center;
    /* margin: 10px; */
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    position: relative;
}
.span_pink{
    color:rgba(199, 97, 173, 0.757) ;
    font-weight: bold;
}
.span_pink_title{
    color:rgba(199, 97, 173, 0.757) ;
    font-weight: bold;
    font-size: 16px;
 
}
.cube-orange_d{
    align-items: center;
    text-align: center;
    padding: 12px;
    border-radius: 3px;
    border: 2px  rgba(232, 178, 103, 0.757) solid ;
    /* background-color: rgba(94, 148, 210, 0.757); */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content: center;
    justify-items: center;
    /* margin: 10px; */
    font-weight: bold;
    /* margin-right: 25%; */
    position: relative;
}
.span_orange{
    color:rgba(232, 178, 103, 0.757) ;
    font-weight: bold;
}
.span_orange_title{
    color:rgba(232, 178, 103, 0.757) ;
    font-weight: bold;
    font-size: 16px;
 
}
.cube-blue_d{
    align-items: center;
    text-align: center;
    padding: 12px ;
    border-radius: 3px;
    border: 2px  rgba(94, 148, 210, 0.757) solid ;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
    position: relative;
}
.span_blue{
    color:rgba(94, 148, 210, 0.938) ;
    font-weight: bold;
}
.span_blue_title{
    color:rgba(94, 148, 210, 0.938) ;
    font-weight: bold;
    font-size: 16px;
 
}
.close-details-btn{
    border: none;
    color:black;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
 @media only screen and (max-width: 800px) {

    .print{
      
        align-items: center;
        text-align: center;
        display: grid;
        grid-column-gap:0px;
        grid-row-gap: 10px;
        grid-template-columns:repeat(3,30%);
        justify-content: center;
        width: 100%;
    }
    .cube-colors{

        font-size: 12px;
        /* width: 100%; */

    }
    .cube-pink{
     
        border-top-left-radius:4px ;
        border-bottom-left-radius:4px ;
    }
    .cube-purple{
        border-top-right-radius:4px ;
        border-bottom-right-radius:4px ;
    }
    .cube-blue_d{
   
        /* background-color: rgba(94, 148, 210, 0.757); */
        /* width: 95%; */
        margin-right: 0%;
        margin: 2%;
        font-size: 12px;
    }
    .cube-purple_d{
   
        /* background-color: rgba(94, 148, 210, 0.757); */
        /* width: 95%; */
        margin-right: 0%;
        margin: 2%;
        font-size: 12px;
    }
    .cube-pink_d{
   
        /* background-color: rgba(94, 148, 210, 0.757); */
        /* width: 95%; */
        margin-right: 0%;
        margin: 2%;
        font-size: 12px;
    }
    .cube-red_d{
   
        /* background-color: rgba(94, 148, 210, 0.757); */
        /* width: 95%; */
        margin-right: 0%;
        margin: 2%;
        font-size: 12px;
    }
    .cube-orange_d{
   
        /* background-color: rgba(94, 148, 210, 0.757); */
        /* width: 95%; */
        margin-right: 0%;
        margin: 2%;
        font-size: 12px;
    }
 }
