.Design{

    font-family: 'Varela Round', sans-serif;
    width: 100%;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.856);

    
}
.layers{
  background-color: #eeececcb;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 20px;
  position: relative;
  width: 100%;
  
}
.overflow-shirt{
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 10%;
  right: 24%;
  z-index: 11;
}

.layers-item{
  border-bottom: rgb(187, 187, 187) 1px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
.pText{position: relative;}
#back-button{
  font-size: 22px;
  /* background-image: url('../../Image/logoPic.png'); */
  background-color: whitesmoke;
  align-items: center;
  text-align: center;
  color: black;

  padding-top: 10px;
  
  padding-bottom: 10px;
  width: 70px;
  height: 45px;
  /* border-radius: 100px; */
  text-shadow: rgba(11, 10, 10, 0.493) 1px 1px 3px;
}
#back-button:hover{
  background-color: black;
  color: whitesmoke;
  text-shadow: rgba(228, 227, 227, 0.664) 1px 1px 3px;

}
.menul
{
  float: left;
  position: absolute;
  left: 5px;
  /* width: 880px; */
  
  /* padding: 10px; */
}
div.menul .continued{
  background-color: whitesmoke;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.menul .continued:hover{
  background-color: black;
  border: none;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.menur
{
  position: absolute;
  right: 0;
  /* z-index: 999; */
  /* width: 250px; */
  /* padding: 10px; */
  padding-top: 3px;
  
  margin-right: 5px;
}
.menuc{
  margin: auto;
  padding-top: 10px;
  
}
#menu-design{
  display: flex;
  justify-content: right;
  /* padding: 0px 30px; */
  position:relative;
  height: 55px;
  /* margin: 7px; */
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  font-size: 18px;
  color: black;
/* width: 100%; */
  background-color: #fefefeb9;
  border-bottom: #8e8e8ec9 0.5px solid;
}
#productSelect{
  margin: 10px;
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  position: relative;

}
.dot {
  margin: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* align-items: center; */
  justify-content: center;
}



#container {
  display: inline-block;
  cursor: nwse-resize;
}
.Design-cube{
  /* justify-content: center; */
  width: 100%;
  height: 94.5%;
    position: relative;
  /* text-align: center; */
  direction: rtl;
  display: flex;
  font-family: 'Varela Round', sans-serif;

  
}
#back-front1{
  /* position: absolute;
  margin-top: 10px; */
/* margin-right: 73%;  */
padding-top: 5px;
padding-bottom: 5px;
font-size: 15px;
border-radius: 3px;
color: black;
background-color: rgba(255, 255, 255, 0.605);
border: black 1px solid;
  /* width: 15%; */
}
#back-front1:hover{
  background-color: black;
  color: whitesmoke;
 
}
#logo-down{
  /* position: absolute;
  top: 50px;
  left:5% ; */
/* padding-top: 5px;
padding-bottom: 5px;
border-radius: 3px; */
opacity: 0.6;
/* color: black; */

  /* width: 15%; */
}
.titleEdit{
  margin-top: 10px;
  margin-right: 20px;
}
#h1-title{
  margin-top: 20px;
}
  .Design-cube1{
    /* background-color: #d57b7b; */
    display: flex;
    border-top: black 4px solid;
    border-bottom: black 4px inset;
/* align-items: center;
text-align: center; */
height: 100%;
width: 30%;
    background-color: rgba(245, 245, 245, 0.475);

  
  }
  h1{

    font-family: 'Varela Round', sans-serif;

  }
  .edits-upload{
    max-width: 100%;
    /* overflow: hidden; */
    /* background-color: #0288D1; */
  }
  .edits-colors-grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }
  .edits{
    /* background-color: rgba(236, 234, 234, 0.66); */
    /* margin-left: 0.5px; */
    /* padding: 10px; */
    margin-right: 20px;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    max-width: 90%;
    overflow: scroll;
/* justify-content: center; */
    align-items: center;
    font-family: 'Varela Round', sans-serif;


    
  }
  .buttonEditPick{
    background-color:whitesmoke ; 
    color: black; 
    border: 2px solid rgba(76, 175, 79, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    width: 100%;
  }

 
  .buttonEdit{
    background-color: black; 
    color: whitesmoke; 
    border: 2px solid rgba(76, 175, 79, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    margin: 5px 0px;

    width: 100%;
  }
  .buttonEdit:hover{
    background-color: whitesmoke;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: black;
  }
  .buttons{
    background-color: rgba(236, 234, 234, 0.66);
    height:100%;
    width: 20%;
    justify-content: right;
    background-color: black;


  }
  .info{
    margin-right: 20px;
    visibility: hidden;
    position: absolute;
    width: 20%;
    bottom:  15px;
    right: 120px;
    z-index: 999;
   text-align: right; 
  }
  #Dialog{
    direction: rtl;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    text-align: center;

  }
  #send-dailog-context{
    display: grid;
    grid-column-gap:10px;
    grid-row-gap: 20px;
    grid-template-columns:repeat(1,100%);

  }
 .preview-dailog-context{
  /* display: grid;
  grid-column-gap:10px;
  grid-row-gap: 20px;
  grid-template-columns:repeat(1,100%); */
 }
 .preview-dailog-context-div{
   text-align: right;
   display: flex;
   flex-direction: column;
   font-size: 16px;
   
 }
 .preview-dailog-context-imgs{
   display: flex;
 }
 .preview-dailog-context-img{
   width: 50%;
   /* margin: 10px; */
 }
  #Dialog-send{
    direction: rtl;
    font-family: 'Varela Round', sans-serif;
    align-items: center;
    text-align: center;

  }
  #Dialog-buttons{
    align-items: center;
    text-align: center;
    margin-right: 32%;
    margin-bottom: 5px;
    direction: ltr;

  }
  #Dialog-buttons-mail{
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-right: 32%; */
    margin-bottom: 5px;
    direction: ltr;

  }
  #dialog-btn{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;




  }
  #dialog-btn-design{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    font-weight: bold;
    direction: rtl;





  }
  .shirt-design-ditails{
    display: inline-block;
    font-size: 20px;

  }
  #alert-dialog-slide-description{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(53, 52, 52);

  }
  #send-dialog-design-description{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(53, 52, 52);

  }
  .product-chang-btn{
    margin-top: 70px;
    border: #689FC9 2px solid;
    border-radius: 4px;
    background-color: transparent;
    width: 80%;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #689FC9;
    font-family: 'Varela Round', sans-serif;

  }
  .product-chang-btn:hover{
    border: #689FC9 2px solid;
    background-color: #689fc96f;


  }
  .dialog-design-img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18%;
    opacity: 0.7;
  }
  .send-dialog-design-title p{ 
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: bold;

  }
  .div-info:hover .info{
    visibility: visible;
    display: flex;
  }
  .div-info:hover #info{
    color: #0288D1
    ;
  }
  #design-dailog-input{
    font-family: 'Varela Round', sans-serif;
  }
  #design-dailog-lable{
    /* margin-top: -2px; */
    z-index: 10px;
 position: absolute;
 font-family: 'Varela Round', sans-serif;
 right:24px;
 width: 14%;

 background-color: rgb(255, 255, 255);
}
  #info{
  font-size: 30px;
  right: 100px;
  bottom: 30px;
  position: absolute;
  border: none;
  background-color: transparent;
  }
  .font-piker{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;

  }
  
  .Design-cube22{
    /* margin-right: 8%; */
    /* padding-left: 100px;
    padding-right: 100px; */
position: relative;
/* height: auto; */
/* width: 70%; */
/* width: 950px; */
  }
  .Design-cube2-imgelemnt{
    width: fit-content;
    height: 94.5%;

  }
 
.Design h3{
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;



}
.shirt{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 

}
.img-item-toolbar-grid{
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-column-gap: 10px;
  margin-right: 20px;
}
.design-adddesign-btn{
  margin-top: 70px;
  border: #d57b7b 2px solid;
  background-color: #d57b7b;

  border-radius: 4px;
  /* background-color: transparent; */
  width: 80%;
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;}

.design-adddesign-btn:hover{
  background-color: #f1b6b6d9;

  }
  @keyframes djplay {
  
    /* 50%  {    transform: rotate(0.1turn) ;} */

    100%  {    transform: rotate(1turn) ;}

  }
.loading-design{

  /* width: 35%; */
  position: absolute;
  top: 27%;
  right: 32%;
  z-index: 1000;
}
.loading-design-img{
  width: 50%;
  opacity: 0.6;

  -webkit-animation: djplay 1.4s infinite ease;
  animation: djplay 1.4s infinite ease;
}
.loading-design-p{
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 28%;
  right: 13%;
  z-index: 1000;
  color: black;
 background-color: rgba(245, 245, 245, 0.523);
 padding: 30px 10px;
 border-radius: 100px; 

}
.dot-product-dialog-design {
  margin: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;

}
.dot-product-dialog-design:hover{
  border: 2px solid black;

}
/*shape*/




