
.menu-root{
    position: relative;
}


.background-anim-dot{
    padding:0 18px ;
    height: 105%;
    position: relative;
z-index: 11;
    background-color: #F6F6F6;
margin-left: 10px;
margin-right: 10px;

font-size: 25px;
    border: 0.5px solid #8e8e8ec9;
    border-top:none ;


}

.menu-item1 {
    display: flex;
    justify-self: end;
    position: relative;
   
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    height: 120px;
    visibility: visible;

    background-color: white;
    border-bottom: #8e8e8ec9 0.5px solid;
z-index: 10;
justify-content: center;
    /* transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1); */

    font-family: 'Varela Round', sans-serif;
}
.dot-shoping {
 
        background-color: rgb(255, 191, 102);
        
      
      }
      .dot-order {
 
        background-color: #93AECC;
        
      
      }
.dot-nav {
align-items: center;
text-align: center;
font-family: 'Varela Round', sans-serif;

font-size: 12px;
    margin: 5px;
    margin-left: 23px;
    margin-top: -2px;
    height: 20px;
    width:20px;
    border-radius: 50%;
    backdrop-filter: inherit;
    /* background-image:url('../../Image/logopicopti.png') ; */
    /* background-color: rgb(255, 191, 102); */
    background-size: cover;
    border: 0.5px rgb(70, 69, 69) solid;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: -3px;
    color: black !important;
  
  }
  #search-input{
    /* margin-left: 50px; */
    
    direction: rtl;
    font-size: 14px;
    padding: 3px;
    border: 1px rgb(0, 0, 0) solid;
width: 20%;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
#search-input:focus{
    border: 1px rgb(0, 0, 0) solid;
    outline-offset: 0px;
    outline: none;
    background-color: transparent;

}
#search-icon{
    background-color: rgb(255, 191, 102);
    border-right: 1px rgb(0, 0, 0) solid;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    position: absolute;
    left: 5px;
    top: 0px;
    height: 105%;
    width: 20%;
    padding: 5px;
}
.search{
    margin-left: 50px;
    direction: rtl;
    font-size: 14px;
    padding: 4.5px;
    padding-right: 15px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
}
.menu {
    /* display: grid;
    grid-template-columns:130px auto auto ; */
    /* grid-column-gap:185px; */

    /* grid-template-rows: repeat(1,100%); */
    /* flex-direction: column;    */
     direction: rtl;
    /* justify-content: right; */
    /* padding: 0px 190px; */
/* align-items: center; */
    /* padding-top: 30px; */

    /* cursor: pointer; */
    font-weight: bold;
    font-size: 18px;
    /* color: #02064f; */
    height: 120px;
    /* padding-bottom: 15px; */
/* width: 100%; */
    background-color: #fefefeb9;
    border-bottom: #8e8e8ec9 0.5px solid;
}
a:link, a:visited {

    text-decoration: none;
    display: inline-block;
  }

.menu-item1 div {
    /* padding: 0 15px; */
    font-weight: bold;
    color: #121212;
    cursor: pointer;
    direction: rtl;

}
#shoping{
    border: black 2px solid;
    margin-right: 50px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    border-radius: 150px;
    color: black;
    height: fit-content;
    position: relative;

    /* background-image:url('../../Image/logopicopti.png') ; */
    /* background-size: cover; */


}
#shoping:hover{
    background-color: black;
    color: white;
}
#order{
    border: black 2px solid;
    margin-right: 20px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    border-radius: 150px;
    color: black;
    height: fit-content;
    position: relative;



}
#order:hover{
    background-color: black;
    color: white;
}

#background-cart .dot-nav{
    right: 28px;
    top: 48px;
}
.myCart{
    font-size: 18px;
    display: none;
    margin-top: 60px;
    position: absolute;
    
}
#background-cart .myCart{
    display: block;
}
#background-cart{
    /* border-bottom: 2px solid transparent; */
    padding:0px 28px ;
    height: 8.7rem;
    position: relative;

    display: flex;
    top: -45px;
    width: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    /* padding-top: 20px; */
z-index: 11;
    background-color: #F6F6F6;
margin-left: 10px;
margin-right: 10px;

font-size: 25px;
    border: 0.5px solid #8e8e8ec9;
    border-top:none ;
    border-bottom:none ;
    border-radius: 0px;
    color: black;

    /* border-bottom: 2px solid rgba(245, 245, 245, 0.856); */

}
.insta-nav{
    height: fit-content;

    border: black 2px solid;
  /* color:  radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); */
  margin-right: 10px;
     padding-top: 2px;
     padding-left: 10px;
     padding-right: 10px;
     padding-bottom: 2px;
     color: black;

     border-radius: 100px;
 }
 .insta-nav:hover{
    background-color: black;
    color: white;
 }
 .icon-nav{
     direction: ltr;
     display: flex;
     /* margin-top: 35px;
     height: 100%; */
     justify-content: center;
     justify-items: center;
     background-color: transparent;
 
 }
 .facebook-nav{
    height: fit-content;

     /* background-color: #3C5A99; */
     border:black 2px solid ;
     padding-top: 2px;
     padding-bottom: 2px;
     margin-right: 10px;
     color: black;
     padding-left: 11px;
     padding-right: 11px;
     border-radius: 100px;
     justify-self: center;
 }
 .facebook-nav:hover{
     background-color: black;
     color: white;

 }
 .email-nav{
    height: fit-content;

     border:black 2px solid ;
     padding: 2px;
     padding-left: 8px;
     padding-right: 8px;
 color: black;
     border-radius: 100px;
 }
 .email-nav:hover{
    background-color: black;
    color: white;

}
 .menu-root{
     direction: rtl;
 }
 #Hamburger-nav{
    /* position: absolute;
    top: 25px;
    right: 30px;
    direction: rtl; */
    z-index: 35;
}
/* .menu {
    visibility: hidden;
    }
    .icon-nav{
        visibility: hidden;

    } */




.menu-item1 a {
    border-bottom: 2px solid transparent;
    padding:0 18px ;
    height: 102%;
    width: auto;
    justify-self: center;
    padding-top: 40px;
    position: relative;

    transition:  border 0.3s ease;
  }
  
  .menu-item1 a:hover {
    background-color: #F6F6F6;

    border-top: 0.5px solid transparent;
    border-left: 0.5px solid #8e8e8ec9;
    border-right: 0.5px solid #8e8e8ec9;
    border-bottom: 2px solid rgba(245, 245, 245, 0.856);
  }
  
    @media only screen and (max-width: 768px) {

    .menu-item1{
        visibility: hidden;

    }
  
 
}