.Contact{

    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
position: relative;
    background-color: rgba(245, 245, 245, 0.856);

    
}
/* .Contact-div{
  display: flex;
  align-self: center;
  width: 100%;
} */
.Contact-h3-big{

position: absolute;
top: 30px;
right: 47%;
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}
.map_grid{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 10px;
}
#helper{
  position: absolute;
/* margin-top: 35px;  
left: 50px; */
  font-family: 'Alef', sans-serif;

}


  .submit {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 4px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 4px;
    margin-bottom: 15px;

    /* padding-left: 45px;
    padding-right: 45px; */
    width: 22%;

    font-weight: 600;
    text-align: center;
    cursor: pointer; 
 
    /* display: block; */
    text-align: center;
    cursor: pointer; 
    /* border-radius: 15px; */
    padding: 5px 0px;
    margin: 10px 0px;
    transition: all 0.5s ease-in;
  }
  .submit:hover {
    box-shadow: #4CAF50 600px 0 0 2px inset;
 
    /* box-shadow: #4CAF50 -500px 0 0 2px inset; */

  }



  .map{
    margin-right: 30px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in;

  }
  .Contact-d{
    direction: rtl;
    display: grid;
    width: 85%;
    margin-bottom: 10px;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    grid-template-columns:repeat(4,20%);
    justify-self: center;
    text-align: right;
    font-family: 'Varela Round', sans-serif;

  }
  #name{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: -5px;
    background-color: #ffffff;
    /* position: relative; */
    text-align: right;
    background-size: cover;
    position: relative;
    font-family: 'Varela Round', sans-serif;
    outline: none !important;
    border:none !important ;
    

  }
  .Contact-d .MuiOutlinedInput-root fieldset{
    border-color: #4CAF50 !important;
    outline-color: #4CAF50;
    width:100%;

}

.Contact-d .MuiInputLabel-shrink  {
  color: black !important;
  border-top: 2px #4CAF50 solid !important;
  border-left: 2px #4CAF50 solid !important;
  border-right: 2px #4CAF50 solid !important;
padding-top: 5px !important;
  margin-top: -13px !important;
}
  #lable{
    /* margin-top: -2px; */
    z-index: 10px;
 position: absolute;
 font-family: 'Varela Round', sans-serif;
 right:24px;
 width: 35%;
text-align: center;
 background-color: rgb(255, 255, 255);
}

  .map:hover{
    width: 41%;
    /* transition: all 0.5s ease-in; */

  }
  .mesaage{
    color: #4CAF50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px ;
  }

  .test-mailing{
      direction: rtl;
  }
  .div-submit{
    margin-top: 5px;
    margin-bottom: 50px;

}
 
  p{
    font-size: 15px;

  }
 .Contact .button-loction{
    color: black; 
    background-color: transparent;
    border: 0px ;
    /* padding-left: 45px;
    padding-right: 45px; */
     }
     @media only screen and (max-width: 768px) {
      .map{
        margin-right: 0px;
        width: 80%;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        
      }
      #name{
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: -5px;
        background-color: #ffffff;
        /* position: relative; */
        text-align: right;
        background-size: cover;
        position: relative;
        font-family: 'Varela Round', sans-serif;
    
      }
      .Contact{
        padding-top: 60px;

      }
      .Contact-h3{

        position: absolute;
        top: -4.5%;
        right: 20%;
        font-size: 25px;
        font-weight: bold;
            direction: rtl;
            align-items: center;
            font-family: 'Varela Round', sans-serif;
            z-index: 2;
        }
        .Contact-h3-big{

          position: absolute;
          top: 18px;
          right: 40%;
              direction: rtl;
              align-items: center;
              font-family: 'Varela Round', sans-serif;
          }
      .Contact .h5{
        font-size: 14px;
        display: inline-block;
        font-family: 'Varela Round', sans-serif;

      }
      .Contact p{
      
        font-size: 12px;
        padding: 2px;

        /* padding-left: 45px;
        padding-right: 45px; */
         }
      .Contact .button-loction{
        color: black; 
        background-color: transparent;
        border: 0px ;
        font-size: 12px;

        /* padding-left: 45px;
        padding-right: 45px; */
         }
      #lable{
        /* margin-top: -2px; */
        z-index: 10px;
     position: absolute;
     font-family: 'Varela Round', sans-serif;
    
     right:24px;
     width: 30%;
    font-size: 12px;
     background-color: rgb(255, 255, 255);
    }
    .Contact-d{
      direction: rtl;
      display: grid;
      width: 87%;
      margin-bottom: 10px;
      grid-column-gap:10px;
      grid-row-gap: 10px;
      grid-template-columns:repeat(1,80%);
      justify-self: center;
      text-align: right;
      font-family: 'Varela Round', sans-serif;
  
    }
    .contact-div{
      align-self: center;
      width: 100%;
    }
    .map_grid{
      justify-content: center;
      text-align: center;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 10px;
      width: 100%;
      display: block;
    }
     }