.Order{

    padding-top: 30px;
     font-family: 'Varela Round', sans-serif;
     align-items: center;
     justify-content: center;
     justify-items: center;
     display: flex;
     flex-direction: column;
     text-align: center;
     direction: rtl;
     background-color: #f5f5f5da;
     padding-bottom: 20px;
    
     
 }
.order-titles{
    width: 60%;
  margin-right: 230px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
    justify-self: center;
    font-weight: bold;
    /* text-align: center; */
    font-size: 16px;
    grid-column-gap: 13px;

}
.cart-empty{
    padding:160px 0px ;

}
.cart-empty-p{
    font-size: 18px;
    font-weight: bold;
}
.cart-sent-btn{
    width: 78%;
    margin-top: 30px;
    margin-bottom: 30px;

    border: #7ec94f 1px solid;
    background-color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 2px 30px;
 

}
.cart-sent-btn:hover{
    background-color: #c5f0aa;
    border: #7ec94f 2px solid;


}
@media only screen and (max-width: 800px) {
    .order-titles{
        display: none;
    }
}