.admin-dashborad{

    padding-top: 30px;
     font-family: 'Varela Round', sans-serif;
     align-items: center;
     text-align: center;
     direction: rtl;
     justify-content: center;
     justify-items: center;
     background-color: rgba(245, 245, 245, 0.856);
     padding-bottom: 20px;
     display: flex;
     flex-direction: column;
    
     
 }
 .miss-img{
     margin-top: 10px;
     font-size: 10px;
     color: red;
 }
 #list1{
    display: flex;
    flex-direction: column;
    width: 80%;

    /* grid-column-gap:10px;
    grid-row-gap: 10px;
    align-items: center;
    align-self: center;
    align-content: center;
    grid-template-columns:repeat(1,50%); */
 }
 .product-list-category{
     width: 100%;
     text-align: right;
     font-size: 18px;
     border-bottom: 1px black solid;
     margin-top: 50px;
 }
 #product-label-new{
     position: absolute;
     direction: rtl;
     right:0px;
     width: 30%; 
    }
    #product-label-old{
        position: absolute;
        direction: rtl;
        right:0px;
        width: 25%; 
       }
    #product-add-new-btn{
        border: none;
        background-color: rgb(173, 169, 169);
        border-radius: 5px;
        width: 30%;
        margin-top: 20px;
        color: black;

    }
#card-product-new{

  
    margin: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
#form-product-new{
    font-family: 'Varela Round', sans-serif;
    display: grid;
    width: 100%;  
      grid-row-gap: 10px;
    grid-template-columns:repeat(1,100%);

}

/* image select */
#product-list-title{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}
.product-add-img{
/* position: block; */
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-column-gap:20px;
    justify-self: center;
    justify-content: center;
    text-align: right;
    width: 100%;    
    grid-row-gap: 15px;
    grid-template-columns:repeat(1,60%);
    background-color: rgba(219, 218, 218, 0.529);
    border-radius: 10px;
    padding: 10px 0px;
    position: relative;

}
.product-add-img-old{
    font-family: 'Varela Round', sans-serif;
    display: grid;
    justify-self: center;
    justify-content: center;
    text-align: right;
    width: 45%;    
    grid-row-gap: 0px;
    grid-template-rows: 15% auto auto;
    /* grid-template-columns:repeat(1,90%); */
    background-color: rgba(219, 218, 218, 0.529);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 25px 15px;
    margin: 15px;
    margin-right: 0px;
    border: 4px solid lightblue;
    position: relative;  
    box-shadow:0 1px 8px rgba(0,0,0,0.5);

}

.product-add-img-input{
    display: flex;
    flex-direction: row;
}
.product-add-img-old-input{
    display: flex;
    flex-direction: row;
}
.product-add-img-old-input .img-title{
    margin: 0px !important;
    padding: 0% !important;
    display: inline;
    font-size: 12px;
}
.product-add-img-btn{
    border: none;
    background-color: rgb(194, 194, 194);
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product-add-img-old-btn{
    border: none;
    background-color: rgb(194, 194, 194);
    width: 80%;
    max-height: 40px;
    border-radius: 10px;
}
#form-event{
    position: relative;
}
/* .product-color-helper-new{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 20px;
}
.product-color-helper-old{
    display: inline-block;

    border-radius: 100%;
    position: absolute;
    left: 0;
} */

.password-admin-div{
    padding: 200px 0px;
}
.password-admin-input-div{
    width: 30%;
    border-radius: 4px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 90% 10%;
    box-shadow: 4px 4px 4px  #00000041;



}
.password-admin-input{
    width: 100%;
border: none;
border-radius: 4px;
height: 30px;
padding:  0px 7px;




}
.password-admin-input-div:focus-within{
    border: 1px solid gray;

}
.password-admin-btn{
    border: 1px solid rgb(47, 95, 185);
    background-color: white;
    width: 15%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;


}
.password-admin-btn:hover{
    box-shadow: 4px 4px 4px  #00000041;
    border: 2px solid rgb(47, 95, 185);
    background-color: rgba(47, 95, 185, 0.116);


}
.password-admin-error{
    color: rgb(197, 5, 5);
    font-size: 12px;
    margin-top: 10px;

}
.password-admin-eye{
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 4px;

}
#DialogNewProduct{
    position: relative;
    direction: rtl;
    text-align: center;
    font-family: 'Varela Round', sans-serif !important;

}
.dialog-close-btn{
    background-color: transparent;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}
#dialog-newProduct-title{
    background-color: rgb(236, 236, 236);
    text-align: center;
    font-family: 'Varela Round', sans-serif !important;
/* box-shadow: 0px 2px 4px #03030333; */
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
#dialog-newProduct-title h2{
    font-family: 'Varela Round', sans-serif !important;

}

@media only screen and (max-width: 768px) {
    
}