.cartItem{
    width: 100%;
    display: grid;
    grid-template-columns: 13.6% 13.6% 13.6% 13.6% 13.6% 20.6%;
    position: relative;
    justify-content: center;
    justify-self: center;
    grid-column-gap: 5px;
    text-align: center;
    align-items: center;
    /* margin-top: 10px; */

}
.cartItem p{
  margin-top: 13px;
}
.cartItem img{
    width: 35%;
}
.cart-item{
    width: 80%;
    justify-content: center;
  
  
}
.cartItem-delete{
    border: none;
    position: absolute;
    left: 0;
    font-size: 23px;
    background-color: transparent;
}
#cartItem-count{
    width: 50%;
    justify-self: center;
}
.cart-addDesign{
    border: none;
    background-color: transparent;
    /* display: flex; */


}
.cart-preview-imgs{
    position: relative;
}
.cart-preview-imgs img{
    margin-left: 5px;
    /* width: 50%; */

}
.cart-img{
    width: 100%;
}
#cart-preview-big{
position: absolute;
top: 0.5rem;
left: 5.5rem;
width: 60px;
height: 60px;
border: none;
background-color: rgba(0, 0, 0, 0.336);
border-radius: 100px;
display: none;
mask-border: url('../../Image/zoomin4.png') ;

}
.cart-preview-imgs:hover #cart-preview-big{
    display: block;
}
.cart-preview-dailog-context-imgs{
    display: flex;
    width: fit-content;
    margin-top: 40px;

}

  .cart-preview-dailog-context-img{
    width: 50%;
    /* margin: 10px; */
  }
  #cart-preview-dailog-context{
      width: fit-content;
      display: flex;
      

  }
  #cart-preview-dailog-btn{
 position: absolute;
 top: 10px;
 right: 10px;
 font-size: 34px;
 color: black;
  }
  #cart-preview-dailog-btn:hover{
      background-color: rgba(0, 0, 0, 0.214);
  }
  @media only screen and (max-width: 800px) {
    .cartItem-mobile{
        width: 80%;
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 100% ; */
        position: relative;
        justify-self: center;
        /* grid-column-gap: 2px;
        grid-row-gap: 0px; */
        text-align: center;
        align-items: flex-start;
        margin-top: 20px;
        /* margin-top: 10px; */
    
    }
    .cartItem-mobile p{
        /* margin-top: 13px; */
        font-size: 14px;
        width: 100%;
        /* float: right; */
        text-align: right;
        line-height: 1;
      }
    .cart-item-mobile{
        /* width: 100%; */
        justify-content: center;
        display: flex;
        /* margin-top: 20px; */
        position: relative;
        /* border-bottom: 1px solid black; */
        border-bottom: 1px solid rgb(198, 198, 198);

        /* margin: 0px 20px; */
        margin-right: 20px;
        /* height: 100%; */

      
    
    }
     .cartItem-mobile-right p{
        font-size: 14px;

  }
    .cartItem-mobile-right{
width: 25%;
margin: 15px;

    }
    .cart-img{
        width: 100%;
        max-height: 100%;
        /* height: fit-content; */
        margin-bottom: 5px;
    }
    #cartItem-count{
        width: 20%;
        font-size: 14px;
        justify-self: center;
        direction: rtl;


    }
    #cartItem-count-form{
        width: 20%;
        font-size: 14px;
        justify-self: center;
        padding: 5px;
        border: 1px rgb(198, 198, 198) solid;
        position: absolute;
        bottom: 18%;
        right: 29%;
    }
    .cartItem-mobile-btns{
        position: absolute;
        left: 20px;
        top: 5px;
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    .cartItem-delete-mobile{
        border: none;
       
        font-size: 20px;
        background-color: transparent;
    }
    .cart-addDesign{
        border: none;
        background-color: transparent;
        font-size: 11px;
        margin-top: 10px;
        width: 100%;
        /* display: flex; */
    
    
    }
    #cartItem-brush{
        font-size: 18px;

    }
    .cartItem-mobile-total{
        margin-top: 15px;
position: absolute;
bottom: 10%;
left: 8%;
        font-size: 13px;
    }
    .cart-preview-dailog-context-imgs{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
    .cart-preview-dailog-context-img{
        width: 100%;
        /* margin: 10px; */
      }
      .cart-preview-imgs{
        margin-bottom: 5px;
    }
  }